* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  color: #1f1f1f;
  letter-spacing: -0.09em;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

html, body {
  width: 100%;
  height: 100%;
}

.swiper-slide > a > div {
  transition: transform 1.5s ease, opacity 1s ease;
}

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
  transition-duration: 1.5s, 1s;
}

@font-face {
  font-family: "Binggrae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Binggrae-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Binggrae-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.header {
  width: 100%;
  height: 147px;
  position: fixed;
  top: 0;
  letter-spacing: 0;
  z-index: 200;
}
.header.on {
  background-color: #fff;
  height: 560px;
  transition: 0.6s;
  border-radius: 0 0 70px 70px;
}
.header.on .header-nav {
  border-bottom: 1px solid #dfebf9;
}
.header.sc {
  background-color: #fff;
}
.header.sc .header-nav {
  border-bottom: 1px solid #dfebf9;
}
.header .header-top {
  height: 30px;
  border-bottom: 1px;
  padding: 0 80px;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
}
.header .header-top ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.header .header-top ul li {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
.header .header-top ul li:last-child {
  padding-left: 20px;
  position: relative;
}
.header .header-top ul li:last-child::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.header .header-top ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.header .header-top ul li a img {
  margin-left: 5px;
}
.header .header-nav {
  width: 100%;
  height: 115px;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .header-nav .header-box:nth-child(1) {
  width: 142px;
}
.header .header-nav .header-box:nth-child(1) a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.header .header-nav .header-box:nth-child(2) {
  width: 45%;
  position: relative;
  z-index: 50;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .header-nav .header-box:nth-child(2) > ul {
  width: 100%;
  display: flex;
  height: 115px;
  justify-content: space-between;
}
.header .header-nav .header-box:nth-child(2) > ul > li {
  height: 115px;
  width: 20%;
  padding: 45px 42px 0 0;
}
.header .header-nav .header-box:nth-child(2) > ul > li > a {
  height: 70px;
  padding-bottom: 40px;
  font-size: 1vw;
  position: relative;
}
.header .header-nav .header-box:nth-child(2) > ul > li > a::after, .header .header-nav .header-box:nth-child(2) > ul > li > a::before {
  content: "";
  position: absolute;
  background-color: #e0462e;
}
.header .header-nav .header-box:nth-child(2) > ul > li > a::after {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.header .header-nav .header-box:nth-child(2) > ul > li > a::before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  right: -12%;
  top: 2px;
  opacity: 0;
  visibility: hidden;
}
.header .header-nav .header-box:nth-child(2) > ul > li > a.color::after, .header .header-nav .header-box:nth-child(2) > ul > li > a.color::before {
  opacity: 1;
  visibility: visible;
}
.header .header-nav .header-box:nth-child(2) > ul > li .submenu {
  width: 100%;
  margin-top: 40px;
  padding-top: 20px;
  background-color: transparent;
  display: none;
  transition: 0.6s;
}
.header .header-nav .header-box:nth-child(2) > ul > li .submenu ul {
  width: 100%;
}
.header .header-nav .header-box:nth-child(2) > ul > li .submenu ul li {
  width: 100%;
  height: 34px;
  padding: 7px 0;
}
.header .header-nav .header-box:nth-child(2) > ul > li .submenu ul li a {
  font-size: 18px;
  transition: 0.5s;
}
.header .header-nav .header-box:nth-child(2) > ul > li .submenu ul li:hover a {
  color: #e0462e;
}

.submenu {
  width: 100%;
  background-color: #fff;
}
.submenu .submenu-wrap {
  display: flex;
}
.submenu .submenu-wrap ul {
  padding-top: 20px;
}
.submenu .submenu-wrap ul li {
  height: 41px;
  padding: 7px 0;
}

.header-hamburger {
  width: 190px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  z-index: 200;
  top: 75px;
  right: 0;
}
.header-hamburger .lang {
  margin-right: 60px;
  font-weight: bold;
  margin-top: -2px;
}
.header-hamburger .lang p {
  cursor: pointer;
  position: relative;
}
.header-hamburger .lang p img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  width: 10px;
  height: 5px;
}
.header-hamburger .lang ul {
  width: 150%;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 0;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: none;
}
.header-hamburger .hamburger {
  width: 26px;
  height: 18px;
}
.header-hamburger .hamburger a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.header-hamburger .hamburger a .line {
  transition: 0.2s;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 0;
}
.header-hamburger .hamburger a .line:nth-child(2) {
  top: 10px;
}
.header-hamburger .hamburger a .line:nth-child(3) {
  top: 20px;
}
.header-hamburger .hamburger a.on .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.header-hamburger .hamburger a.on .line:nth-child(2) {
  transform: rotate(-45deg);
}
.header-hamburger .hamburger a.on .line:nth-child(3) {
  opacity: 0;
}

.hamburger-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  background: #fff url(../images/layout/pc_ham_bg.png) no-repeat right top -80px;
  overflow: hidden;
}
.hamburger-modal > .modal-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hamburger-modal > .modal-wrap > ul {
  display: flex;
  justify-content: center;
}
.hamburger-modal > .modal-wrap > ul > li {
  width: 250px;
  height: 460px;
  border-radius: 30px;
  border: solid 1px rgba(224, 223, 226, 0.6);
  padding: 50px 30px;
  background-color: #fff;
  transition: 0.5s;
}
.hamburger-modal > .modal-wrap > ul > li:not(:nth-child(1)) {
  margin-left: 10px;
}
.hamburger-modal > .modal-wrap > ul > li > a {
  display: inline-block;
  line-height: 1;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1.6px;
  padding-bottom: 40px;
}
.hamburger-modal > .modal-wrap > ul > li .submenu > ul > li {
  line-height: 1;
  position: relative;
  transition: 0.4s;
}
.hamburger-modal > .modal-wrap > ul > li .submenu > ul > li > a {
  display: inline-block;
}
.hamburger-modal > .modal-wrap > ul > li .submenu > ul > li > img {
  position: absolute;
  right: 5px;
  transform: scale(0);
}
.hamburger-modal > .modal-wrap > ul > li .submenu > ul > li:not(:nth-child(1)) {
  margin-top: 15px;
}
.hamburger-modal > .modal-wrap > ul > li .submenu > ul > li ul {
  padding-top: 15px;
}
.hamburger-modal > .modal-wrap > ul > li .submenu > ul > li ul li {
  height: 30px;
  line-height: 1;
  display: block;
  font-size: 15px;
  color: rgba(52, 52, 52, 0.8);
  font-weight: 300;
  cursor: pointer;
}
.hamburger-modal > .modal-wrap > ul > li .submenu > ul > li ul li a {
  display: block;
  font-size: 15px;
  color: rgba(52, 52, 52, 0.8);
  font-weight: 300;
}
.hamburger-modal > .modal-wrap > ul > li .submenu > ul > li:hover a {
  color: #e0462e;
}
.hamburger-modal > .modal-wrap > ul > li .submenu > ul > li:hover img {
  transform: scale(1);
}
.hamburger-modal > .modal-wrap > ul > li:hover {
  transform: translateY(-5px);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}
.hamburger-modal > .modal-wrap > ul > li:last-child > a {
  color: #e0462e;
}
.hamburger-modal > .modal-wrap > ul > li:last-child .submenu ul li:nth-child(1) a {
  color: #e0462e;
  font-weight: 500;
}

.section01 {
  width: 100%;
  height: 925px;
  padding: 180px 0;
  background-image: url(../images/main/section01_bg.png);
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.section01 .logo-box {
  text-align: center;
}
.section01 .logo-box .pc {
  max-width: 100%;
}
.section01 .logo-box .pc img {
  max-width: 100%;
  height: auto;
}
.section01 .logo-box .mobile {
  display: none;
}
.section01 .search-box {
  max-width: 1020px;
  height: 80px;
  margin: 0 auto;
  box-shadow: 6px 6px 12px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50px;
  margin-top: 30px;
  padding: 0 15px 0 55px;
  display: flex;
  line-height: 80px;
  justify-content: space-between;
  align-items: center;
  border: 0;
}
.section01 .search-box .text {
  width: 741px;
  height: 80px;
  padding: 0 0 0 30px;
  display: flex;
  align-items: center;
  font-size: 17px;
}
.section01 .search-box .text img {
  width: 30px;
  height: 30px;
  margin-left: -30px;
}
.section01 .search-box .text input {
  width: 100%;
  height: 100%;
}
.section01 .search-box button {
  width: 180px;
  height: 55px;
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  border-radius: 50px;
  line-height: 55px;
  color: #fff;
  border: 0;
  font-size: 0.8vw;
  text-transform: uppercase;
}
.section01 .link {
  height: 37px;
  max-width: 50%;
  margin: 0 auto;
}
.section01 .link ul {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section01 .link ul li {
  width: 120px;
  padding: 0 20px;
  margin-left: 7px;
  border: 1px solid #edecef;
  height: 37px;
  line-height: 37px;
  border-radius: 50px;
}
.section01 .link ul li a {
  font-size: 12px;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#search {
  font-size: 17px;
  border: none;
  outline: none;
  letter-spacing: normal;
}
#search:focus {
  outline: none;
  border: none;
}

.float-menu {
  position: fixed;
  bottom: 40px;
  right: 39px;
  width: 60px;
  height: 180px;
  z-index: 200;
}
.float-menu .btn-shop {
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  line-height: 60px;
  text-align: center;
  color: #1b1b1b;
  margin: 10px 0 5px 10px;
}
.float-menu .btn-shop a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.float-menu .btn-arrow {
  width: 55px;
  height: 55px;
  margin-left: 10px;
  position: relative;
  line-height: 55px;
}
.float-menu .btn-arrow .btn-down {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 50%;
  left: 50%;
  background-color: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  text-align: center;
  cursor: pointer;
}
.float-menu .btn-arrow .btn-down img {
  width: 13px;
  height: 17px;
}
.float-menu .btn-arrow .btn-up {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 50%;
  left: 50%;
  background-color: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  cursor: pointer;
}
.float-menu .btn-arrow .btn-up img {
  width: 13px;
  height: 17px;
}

.section02 {
  width: 100%;
  height: 1048.19px;
  padding-bottom: 140px;
  background-image: url(../images/main/section02_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section02 h3 {
  width: 100%;
  height: 55.09px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
  font-family: "Binggrae-Bold";
  letter-spacing: normal;
}
.section02 .happy {
  max-width: 1650px;
  height: 393.09px;
  margin: 0 auto 140px;
  position: relative;
}
.section02 .happy .happy-swiper {
  width: 90%;
}
.section02 .happy .happy-swiper .swiper-wrapper {
  margin-top: 20px;
}
.section02 .happy .happy-swiper .swiper-wrapper .swiper-slide {
  transition: 0.3s;
  width: 252px;
}
.section02 .happy .happy-swiper .swiper-wrapper .swiper-slide a {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
}
.section02 .happy .happy-swiper .swiper-wrapper .swiper-slide a .img {
  max-width: 100%;
}
.section02 .happy .happy-swiper .swiper-wrapper .swiper-slide a .img img {
  width: 100%;
  height: auto;
}
.section02 .happy .happy-swiper .swiper-wrapper .swiper-slide a .text {
  background-color: #f9f9f9;
  border-radius: 21px;
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.section02 .happy .happy-swiper .swiper-wrapper .swiper-slide a .text p {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 43px;
  text-transform: uppercase;
  letter-spacing: normal;
}
.section02 .happy .happy-swiper .swiper-wrapper .swiper-slide a .text p:nth-child(2) {
  background: linear-gradient(to top, #ed1c24, #e0462e);
  color: #fff;
  display: none;
}
.section02 .happy .happy-swiper .swiper-wrapper .swiper-slide:hover {
  transform: translateY(-8px);
}
.section02 .happy .happy-swiper .swiper-wrapper .swiper-slide:hover a .text p:nth-child(1) {
  display: none;
}
.section02 .happy .happy-swiper .swiper-wrapper .swiper-slide:hover a .text p:nth-child(2) {
  display: block;
}
.section02 .happy .swiper-button-next, .section02 .happy .swiper-button-prev {
  position: absolute;
  top: 50%;
  color: #1f1f1f;
}
.section02 .happy .swiper-button-next::after, .section02 .happy .swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}
.section02 .happy .swiper-button-next {
  right: -1%;
}
.section02 .happy .swiper-button-prev {
  left: -1%;
}
.section02 .brand {
  max-width: 1650px;
  margin: 0 auto;
  height: 375.09px;
  position: relative;
}
.section02 .brand .brand-swiper {
  height: 300px;
  padding: 20px 0;
  width: 90%;
}
.section02 .brand .brand-swiper .swiper-wrapper {
  width: 100%;
  height: 300px;
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide {
  height: 300px;
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade {
  position: relative;
  height: 250px;
  border: solid 1px #edecef;
  border-radius: 30px;
  overflow: hidden;
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade a button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 21px;
  width: 90%;
  height: 43px;
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  box-shadow: inset 0px 5px 10px 0 rgba(53, 53, 53, 0.11);
  border: solid 1px rgba(224, 223, 226, 0.6);
  color: #fff;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade .logo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: none;
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade .logo .pc-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0s;
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade .logo .m-img {
  display: none;
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade .logo-hover {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: -100px;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade .logo-hover .img {
  transform: scale(0.8);
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade .logo-hover .text {
  position: relative;
  padding-top: 20px;
  width: 100%;
  height: 125px;
  font-size: 16px;
  text-align: center;
  transition: all 0.7s;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.38;
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade .logo-hover .text::after {
  position: absolute;
  content: "";
  width: 10%;
  height: 2px;
  background-color: #edecef;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade .logo-hover.add {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5%);
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade:hover .logo .pc-img {
  display: none;
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade:hover .logo-hover {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.section02 .brand .brand-swiper .swiper-wrapper .swiper-slide .fade:hover a button {
  opacity: 1;
  visibility: visible;
}
.section02 .brand .swiper-button-next,
.section02 .brand .swiper-button-prev {
  position: absolute;
  top: 60%;
  color: #1f1f1f;
}
.section02 .brand .swiper-button-next::after,
.section02 .brand .swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}

.section03 {
  max-width: 1310px;
  margin: 0 auto;
  padding-bottom: 140px;
  transition-duration: 1.5s, 1s;
}
.section03 h4 {
  font-family: "Binggrae-Bold";
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1.6px;
  line-height: 1;
}
.section03 p {
  font-size: 16px;
  line-height: 1.63;
}
.section03 span {
  display: inline-block;
  position: absolute;
  bottom: 50px;
  left: 45px;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
}
.section03 .top {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: 280px;
  grid-gap: 2%;
}
.section03 .top .cyber {
  padding: 48px 43px;
  background: #f9f9f9 url(../images/main/sec04_backimg03.png) no-repeat center right;
  background-size: cover;
  border-radius: 30px;
  position: relative;
}
.section03 .top .cyber a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.section03 .top .safe {
  padding: 48px 43px;
  background: #f9f9f9 url(../images/main/sec04_backimg04.png) no-repeat center right;
  background-size: cover;
  border-radius: 30px;
  position: relative;
}
.section03 .top .safe a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.section03 .bottom {
  margin: 0 auto;
  margin-top: 45px;
  max-width: 1310px;
  height: 797px;
  position: relative;
  padding: 60px 45px;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  background-color: #fff;
}
.section03 .bottom > .qna {
  padding-bottom: 30px;
}
.section03 .bottom > .qna > .more {
  position: absolute;
  right: 45px;
  top: 60px;
  border: solid 1px rgba(224, 223, 226, 0.6);
  width: 160px;
  height: 43px;
  border-radius: 21.5px;
  font-size: 14px;
  font-weight: 500;
  color: #1f1f1f;
  letter-spacing: normal;
  background-color: transparent;
  cursor: pointer;
}
.section03 .bottom > .qna > .more:hover {
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  color: #fff;
}
.section03 .bottom > .qna-list {
  height: 215px;
}
.section03 .bottom > .qna-list > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section03 .bottom > .qna-list > ul > li {
  width: 48%;
  padding: 0 20px;
  height: 65px;
  line-height: 65px;
  margin-bottom: 10px;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
  cursor: pointer;
  background-color: #f9f9f9;
}
.section03 .bottom > .qna-list > ul > li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section03 .bottom > .qna-list > ul > li a > p {
  display: inline-block;
  transition: 0.3s;
}
.section03 .bottom > .qna-list > ul > li a > p:nth-child(2) {
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  transition: 0.5s;
  transform: scale(0);
}
.section03 .bottom > .qna-list > ul > li a > p:nth-child(2) img {
  max-width: 100%;
}
.section03 .bottom > .qna-list > ul > li a:hover p {
  font-weight: bold;
}
.section03 .bottom > .qna-list > ul > li a:hover p:nth-child(2) {
  transform: scale(0.7);
}
.section03 .bottom .bottom_box {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.section03 .bottom .bottom_box .box {
  width: 48.5%;
  height: 325px;
  padding: 55px 45px;
  border-radius: 30px;
  position: relative;
}
.section03 .bottom .bottom_box .email {
  background-image: url(../images/main/sec04_backimg01.png);
}
.section03 .bottom .bottom_box .call {
  background-image: url(../images/main/sec04_backimg02.png);
}
.section03 .bottom .bottom_box .call ul li:nth-child(1) {
  font-size: 46.5px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -2.33px;
}
.section03 .bottom .bottom_box .call ul li:nth-child(2) {
  padding-top: 25px;
  display: flex;
}
.section03 .bottom .bottom_box .call ul li:nth-child(2) p {
  margin-left: 15px;
  color: #e0462e;
  font-weight: 500;
}

.view {
  border: solid 1px rgba(224, 223, 226, 0.6);
  width: 160px;
  height: 43px;
  border-radius: 21.5px;
  line-height: 43px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: normal;
  color: #fff;
}

.footer {
  padding: 40px 50px 40px;
  background-color: #1b1b1b;
}
.footer > div {
  max-width: 1920px;
  margin: 0 auto;
}
.footer .footer-box01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-box01 ul {
  display: flex;
  align-items: center;
}
.footer .footer-box01 ul li a {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 500;
}
.footer .footer-box01 ul li:last-child {
  margin-left: 30px;
}
.footer .footer-box02 {
  padding: 30px 0 115px;
}
.footer .footer-box02 ul li {
  font-size: 17px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
.footer .footer-box02 ul li:nth-child(2) {
  padding-top: 10px;
}
.footer .footer-box03 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-box03 .copy p {
  color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  letter-spacing: -0.15px;
}
.footer .footer-box03 .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-box03 .icon .sns ul li {
  width: 70px;
  height: 70px;
  float: left;
}
.footer .footer-box03 .icon .sns ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.36), inset 0px 4px 10.8px 2.2px rgba(73, 73, 73, 0.11);
  background-color: #1b1b1b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-box03 .icon .sns ul li a img {
  max-width: 100%;
}
.footer .footer-box03 .icon .sns ul li:nth-child(1n+1) {
  margin-left: 15px;
}
.footer .footer-box03 .icon .store {
  width: 355px;
  height: 70px;
  padding-left: 20px;
  margin-left: 60px;
  border-radius: 35px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.36), inset 0px 4px 10.8px 2.2px rgba(73, 73, 73, 0.11);
  background-color: #1b1b1b;
  cursor: pointer;
}
.footer .footer-box03 .icon .store a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.footer .footer-box03 .icon .store a ul {
  position: relative;
}
.footer .footer-box03 .icon .store a ul li:nth-child(1) {
  display: flex;
  align-items: center;
}
.footer .footer-box03 .icon .store a ul li:nth-child(1) p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: rgba(153, 153, 153, 0.67);
  margin-left: 12px;
  color: #fff;
}
.footer .footer-box03 .icon .store a ul li:last-child {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%) rotate(270deg);
}/*# sourceMappingURL=binggrae.css.map */